* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Popins', sans-serif;
  color: whitesmoke;
}

ul {
  list-style: none;
  font-size: 20px;
  font-style: italic;
}

a {
  text-decoration: none;
  font-weight: 700;
}

img {
  height: 200px;
}
body {
  background: url(./assets/images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  box-shadow: 1px 1px 10px 1px white;
}
header div a {
  font-size: 20px;
  font-family: 'Water Brush', cursive;
}
header ul {
  display: flex;
}
header ul li {
  padding: 5px;
  transition: 300ms;
}
header ul li a:hover {
  color: cornsilk;
  text-decoration: underline;
}

.container {
  text-align: center;
  margin: 20px;
}
.container .name h1 {
  font-size: 60px;
}
.container .name h5 {
  font-size: 25px;
}
#icon {
  font-size: 30px;
  margin: 20px;
  cursor: pointer;
  animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
#animation {
  transition: 300ms;
}
.rotate {
  transform: rotate(180deg);
  transition: 300ms;
}
.active {
  display: block !important;
}
#about p {
  max-width: 60%;
  margin: 0 auto;
}

.form {
  width: 40%;
  margin: 30px auto;
  padding: 10px;
}
.form input {
  width: 50%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px 0px 0px 5px;
}

.form button {
  width: 15%;
  padding: 5px 10px;
  background: linear-gradient(to right, blueviolet 50%, violet 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 300ms;
  border-radius: 0px 5px 5px 0px;
  margin-top: 20px;
  margin-left: -5px;
}

.form button:hover {
  background-position: left bottom;
  background-color: blueviolet;
}
